@code {
    [Parameter] public Invoice Invoice { get; set; } = null!;
}
  
<link href="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/css/materialize.min.css" rel="stylesheet" />
<div class="container">
    <h3>Invoice</h3>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Invoice Number</label>
                <input type="text" class="form-control" value="@Invoice.InvoiceNumber" />
            </div>
            <div class="form-group">
                <label>Invoice Date</label>
                <input type="text" class="form-control" value="@Invoice.InvoiceDate.ToShortDateString()" />
            </div>
            <div class="form-group">
                <label>Customer Name</label>
                <input type="text" class="form-control" value="@Invoice.CustomerName" />
            </div>
            <div class="form-group">
                <label>Customer Address</label>
                <input type="text" class="form-control" value="@Invoice.CustomerAddress" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Items</label>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Invoice.Items)
                    {
                        <tr>
                            <td>@item.Description</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>@item.Total</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Subtotal</td>
                        <td>@Invoice.Subtotal</td>
                    </tr>
                    <tr>
                        <td colspan="3">Tax</td>
                        <td>@Invoice.Tax</td>
                    </tr>
                    <tr>
                        <td colspan="3">Total</td>
                        <td>@Invoice.Total</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


